<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <form method="post" action="/user/signup">
      <label>
        <span> Enter Full Name: </span>
        <input type="text" required placeholder="Chaman Singh" name="name" />
      </label>
      <br />
      <label>
        <span> Enter Email: </span>
        <input type="text" required placeholder="xyz@gmail.com" name="email" />
      </label>
      <br />

      <label>
        <span> Enter Password: </span>
        <input type="text" required placeholder="password" name="password" />
      </label>
      <br />

      <button type="submit">Signup</button>
    </form>
  </body>
</html>
